<header class="c-site-header" data-component="site-header">
  <div class="u-container c-site-header__inner">
    <div class="c-site-header__branding">
      <a class="c-site-header__logo" data-nav-link="home" href="#" aria-label="Keiba Note ホーム">
        <span class="c-site-header__logo-text">Belka's Keiba Note</span>
      </a>
    </div>
    <nav class="c-site-header__nav" aria-label="メインナビゲーション">
      <ul class="c-site-header__nav-list">
        <li><a class="c-site-header__nav-link" data-nav-link="home" href="#">トップ</a></li>
        <li><a class="c-site-header__nav-link" data-nav-link="picks" href="#">過去の重要予想と反省</a></li>
        <li><a class="c-site-header__nav-link" data-nav-link="horses" href="#">注目馬の見解</a></li>
        <li><a class="c-site-header__nav-link" data-nav-link="chatter" href="#">雑談</a></li>
        <li><a class="c-site-header__nav-link" data-nav-link="column" href="#">コラム</a></li>
      </ul>
    </nav>
    <div class="c-site-header__search" role="search">
      <label class="u-sr-only" for="site-search">検索</label>
      <input id="site-search" class="c-site-header__search-input" type="search" placeholder="検索（近日対応予定）" disabled>
    </div>
  </div>
</header>
